body {
  background-color: #1a1d2b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  text-align: center;
  color: whitesmoke;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app > p {
  width: 50%;
}

#viz {
  margin-top: 5vh;
  background-color: #222531;
  border-radius: 10px;
}

#viz > g {

}

.axes {
  color: #93eef8;
}

.tooltip {
  position: absolute;
  opacity: 0;

  width: fit-content;
  border: 1px dashed #666c86;
  font-size: 10pt;
  border-radius: 10px;
  padding: 4px;
  background-color: #8d96bc;
}